/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding: 100px 0 0 0;
  background-color:rgba(42, 57, 92, 0.44);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
       

    }
}
.barralogo {
background-color: rgba(0,0,0,0.8);
}
.logo{
    width:120px;
    position:absolute;
    top:0;
}
.bianco{
    font-weight:bold;
    color: #ffffff;
    font-size:33px;
}

.verde{
    color: #4e79ab;
    font-size:50px;
    padding-left:120px;
    text-transform:uppercase;
}
.rosso {
    color: #8f362f;
    font-size:50px;
    text-transform:uppercase;

}
.bordomenu {
    /*border:1px solid #fff;
     box-shadow: 0 0 5px  #fff;*/
    border-radius:10px;
    color:#03065A
}
.btn-gratis{
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    text-align:center;
}
.btn-gratis .btn-primary{
    width:50%;
background: rgb(94,233,63); /* Old browsers */
border:none;
border-radius:10px;
text-shadow:0 0 10px #000;
transition:all 1s ease;
font-size:14pt;
}
.btn-gratis .btn-primary:hover{
background: rgb(60, 180, 34); /* Old browsers */
transition:all 1s ease;
box-shadow: 5px 5px 10px #808080;

}
footer{
    width:1170px;
    margin-left:auto;
    margin-right:auto;
}
footer > p {
    float:left;
    width: auto;
    margin-right:20px;
}
.orario{
    margin-left:30px
}
.myModal{
  
}
.intestazione_tabella_th{
    width:181px;
}
.acweb {
    font-style:italic;
}
.acweb1 {
    color:red;
    font-style:normal;
}
.bodyDefault{
    position:absolute;
    overflow:hidden;
    margin-top: -100px;
    width:100%;
    left:0;
    background:#161515;
}
.bodyContact{
    margin-top:-100px;
}

.border{
   border-right: thin solid #cecece;
}
.margin-top-20{
    margin-top:20px; 
}
.align-right{
    text-align:right;
}
.imgHeader{
    width:100%;
}
.imgHeaderContainer{
    height:600px;
    overflow:hidden;
    margin-top:-100px;
    display:block;
}
.padding0{
    padding:0;
}
.imgCorsi{
    opacity:0.5;
    width:80px;
    border-radius:50%;
    margin-right:10px;
    height:80px;
}
.box a{
    width:200px;
    background-color:#5ee93f;
    border:none;

}
.box a:hover{
    width:200px;
    background-color:rgb(60, 180, 34);
    border:none;

}

